html
  head
    title= title
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
    script(src="/socket.io/socket.io.js") 
    script= 'const socket = io();'

  body
    div(class="container")
      table(class="table table-bordered")
        thead(calss="thead-light")
          tr 
            th(width='300px')='项目名称'
            th='描述'
            th(width='180px')='最后更新时间'
        tbody 
           tr  
             td=project.projectName
             td!=project.description
             td=project.updatedAt
      table(class="table table-bordered")
        thead(calss="thead-light")
          tr 
            th(width='180px')='更新时间'
            th(colspan='2')='更新内容'
        tbody 
          each version, index in project.versions
            tr 
              td=version.uploadDateTime
              td!=version.changeList
              td(width='100px')
                a(href=`/storage/${version.webPath}/`)='查看'